.DS_Store
.DS_Store?

# ignore latex output files
*.out
*.aux
*.synctex.gz
*.log

# ignore large datasets
*.tar
*.json

# matlab related
*.m~
*.mexmaci64
*.mexa64

# latex related
*.synctex
*.synctex(busy)
paper/eecs545.pdf
